.circle-base
    border-radius 100%

// this only exists to be in the center of the larger circle
// it is the seed for the rest of the items to be arranged correctly
.circle-arrangment
    @extend .circle-base
    position relative
    width: 20px
    height: 20px