// * {
// 	margin:0;
// 	padding:0;
// 	transition:200ms;
// }

// p {
// 	font-size:30px;
// }

// .page-wrapper {
// 	display:flex;
// 	flex-direction:column;
// 	justify-content:center;
// 	align-items:center;
// 	width:100vw;
// 	height:100vh;
// 	background:papayawhip;
// 	overflow:hidden;
// }

// $dialD = 50;
// $itemD = $dialD/10;
// $corner = $dialD/7.6;
// u = 0vw

// .dial {
// 	background:transparent;
// 	height:$dialD + u;
// 	width:$dialD + u;
// 	border-radius:100%;
// 	position:relative;
// 	right:-1 * $dialD/3.5 + u;
// 	bottom:-1 * $dialD/6 + u;
// }

// .item {
// 	width:$itemD + u;
// 	height:$itemD + u;
// 	// background:tomato;
// 	border-radius:100%;
// 	display:flex;
// 	justify-content:center;
// 	align-items:center;
// }

// .showDial {
// 	background:tomato;
// 	height:$dialD*.66 + u;
// 	width:$dialD*.66 + u;
// 	border-radius:100%;
// 	position:absolute;
// 	top:0;
// 	left:0;
// 	right:0;
// 	bottom:0;
// 	margin:auto;
// }

// .di1 {
// 	position:absolute;
// 	top:$corner + u;
// 	left:$corner + u;
// }

// .di2 {
// 	position:absolute;
// 	left: 0;
// 	right:0;
// 	margin-left: auto;
// 	margin-right: auto;

// }

// .di3 {
// 	position:absolute;
// 	top:$corner + u;
// 	right:$corner + u;
// }

// .di4 {
// 	position:absolute;
// 	right:0;
// 	top: 0;
// 	bottom:0;
// 	margin-top: auto;
// 	margin-bottom: auto;
// }

// .di5 {
// 	position:absolute;
// 	bottom:$corner + u;
// 	right:$corner + u;
// }

// .di6 {
// 	position:absolute;
// 	bottom:0;
// 	right:0;
// 	left:0;
// 	margin-left:auto;
// 	margin-right:auto;
// }

// .di7 {
// 	position:absolute;
// 	bottom:$corner + u;
// 	left:$corner + u;
// }

// .di8 {
// 	position:absolute;
// 	left:0;
// 	top: 0;
// 	bottom:0;
// 	margin-top: auto;
// 	margin-bottom: auto;
// }