.wheel
    border-radius 100%
    display flex
    justify-content center
    align-items center
    border 1px solid rgba(0,0,0,.1)

// this only exists to be in the center of the larger circle
// it is the seed for the rest of the items to be arranged correctly
.wheel-arrangment
    position relative
    width 20px
    height 20px
    transition 600ms
