.menu {
  position: absolute;
  left: 50%;
  top: 50%;
}
.wheel {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
}
.wheel-arrangment {
  position: relative;
  width: 20px;
  height: 20px;
  transition: 600ms;
}
* {
  font-family: "Roboto";
}
.spoke {
  width: 20px;
  height: 20px;
  left: 0px;
  top: -50px;
}
.spoke-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
