.menu {
  position: absolute;
  left: 50%;
  top: 50%;
}
.wheel-arrangment {
  position: relative;
  width: 20px;
  height: 20px;
  background: #000;
}
body {
  background: #f5deb3;
}
* {
  font-family: "Roboto";
  transition: 600ms;
}
